@model Category
<form method="post" action="/Categories/store">
	<input type="text" name="name" required  placeholder="category name"/>
	<input type="text" name="description" required placeholder="category description" />

	<input type="submit"/> 
</form>