<!DOCTYPE html>
<html>
<body>

	<h1>GET Action for specific Category details</h1>
	<ul>
			<li> 
				<h3>category name : @Model.name</h3>
				<span>category details : @Model.description</span>
			</li>
	</ul>

</body>
</html>