<!DOCTYPE html>
<html>
<body>

	<h1>Read Action for Categories' details</h1>
	<ul>
		@foreach (var category in Model)
		{
			<li> category details : - @category.description</li>
		}

	</ul>

</body>
</html>