<!DOCTYPE html>
<html>
<body>

	<h1>Read Action for Categories' details</h1>
	<ul>
		 
			<li> 
				<h3>category name : @Model.name</h3>
				<span>category details : @Model.description</span>
			</li>
		 

	</ul>

</body>
</html>