<!DOCTYPE html>
<html>
<body>

	<h1>Read Action for Categories</h1>
	<ul>
		@foreach (var category in Model)
		{
			<li>@category.id - @category.name</li>
			<a href="/Categories/deleteCategory/@category.id">delete</a>
			<a href="/Categories/getDetails/@category.id">details</a>

			
		}
	 
	</ul>
	<a href="/Categories/createCategory">create new category</a>
</body>
</html>